/*
reference: css remedy

1.  Use border-box by default, globally.
*/

*,
*::before,
*::after {
  box-sizing: border-box; /* 1 */
}

/*
reference: preflight css

1. All minimum browser to be supported in mamikos web apps use 16px as their default font size.
2. Use a consistent sensible line-height in all browsers.
3. Use a more readable tab size.
4. Use `Lato, sans-serif` font-family by default (refer to the Bangul font-family).
*/

html {
  font-size: 100%; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: Lato, sans-serif; /* 4 */
}

/*
reference: preflight css

1. Remove the margin in all browsers.
2. Inherit line-height from `html`.
3. Add the the default font size back.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
  font-size: 1em; /* 3 */
}

/*
reference: css remedy

Switch to rem units for headings.
*/

h1 {
  font-size: 2rem; /* 32px */
}
h2 {
  font-size: 1.5rem; /* 24px */
}
h3 {
  font-size: 1.17rem; /* 18.72px */
}
h4 {
  font-size: 1rem; /* 16px */
}
h5 {
  font-size: 0.83rem; /* 13.28px */
}
h6 {
  font-size: 0.67rem; /* 10.72px */
}

/*
reference: preflight css

Remove the default font weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

/*
reference: preflight css

Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
reference: preflight css

Add the correct font weight.
*/

b,
strong {
  font-weight: bold;
}

/*
reference: preflight css

Add the correct font size in all browsers. 
*/

small {
  font-size: 80%;
}

/*
reference: preflight css

Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
reference: preflight css

1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
4. Remove space between table by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
  border-spacing: 0; /* 4 */
}

/*
reference: preflight css

1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
reference: preflight css

Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
reference: preflight css

1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
reference: css remedy

1. Solid, thin horizontal rules
2. Remove Firefox `color: gray`
3. Remove default `1px` height, and common `overflow: hidden`
*/

hr {
  border-style: solid; /* 1 */
  border-width: 1px 0 0; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 3 */
  overflow: visible; /* 3 */
}

/*
reference: css remedy

1. inline-block display is usually what we want
2. Responsive by default
4. Audio without `[controls]` remains hidden by default
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block; /* 1 */
  max-width: 100%; /* 2 */
}
audio:not([controls]) {
  display: none; /* 4 */
}

/*
reference: css remedy

These new elements display inline by default,
but that's not the expected behavior for either one.
This can interfere with proper layout and aspect-ratio handling.

1. Remove the unnecessary wrapping `picture`, while maintaining contents
2. Source elements have nothing to display, so we hide them entirely
*/

picture {
  display: contents; /* 1 */
}
source {
  display: none; /* 2 */
}

/*
reference: css remedy

Maintain intrinsic aspect ratios when `max-width` is applied.
`iframe`, `embed`, and `object` are also embedded,
but have no intrinsic ratio,
so their `height` needs to be set explicitly.
*/

img,
svg,
video,
canvas {
  height: auto;
}

/*
reference: css remedy

Default block display on HTML5 elements.
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/*
reference: preflight css

1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
reference: preflight css

Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
reference: preflight css

Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
reference: preflight css

Removes the default spacing for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  margin: 0;
  padding-left: 40px;
}

dialog {
  padding: 0;
}

/*
reference: preflight css

Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
reference: preflight css

Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
reference: preflight css

Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/* 
reference: css remedy

Maintain `hidden` behaviour when overriding `display` values.
*/

[hidden] {
  display: none;
}
